<h2>DcnsOpti#index</h2>
Hello World<br/>

<%

%>
  <table class="list issues">
    <thead>
      <th>id</th><th>Subject</th><th>done ratio</th><th>actual size</th><th>estimated_size</th></thead>
<%   # now on feature level 2
     current_version = nil
     #

     @features2.each do |feat|
       if  feat.is_in_scope? then
         # Feature.update_feature(feat)
         if feat.fixed_version_name != current_version
           current_version = feat.fixed_version_name
         end
%>
<tr <%= cycle('odd', 'even') %> <%= feat.css_classes %> >

  <td><%= link_to feat.id, :controller => 'issues', :action => 'show', :id => feat %></td>
  <td><%= feat.subject %></td>
  <td><%= feat.done_ratio %></td>
  <td><%= feat.actualsize %></td>
  <td><%= feat.featuresize %></td>
  <td><%= feat.fixed_version.name %></td>
</tr>
<%  end
  end
%>
</table>
